<html>

<head>
    {% if title %}
        <title>{{ title }} - microblog</title>
    {% else %}
        <title>Welcom to microblog</title>
    {% endif %}
</head>

<!-- In this template we use the block control statement to define the place where the derived templates can insert themselves.
Blocks are given a unique name, and their content can be replaced or enhanced in derived templates. -->
    <body>
        <div>Microblog: <a href="/index">Home</a></div>
        <hr>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{ message }} </li>
                    {% endfor %}
                </ul>
            {% endif %} 
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>